<div class="wrapper">
    <span>{{name}}</span> <br>
    <span>експерт {{expertName}}</span>

    <div class="questions">
        <p *ngFor="let alt of alternatives; let i = index">
            {{alt}}
            <mat-button-toggle-group [(ngModel)]="marks[i]" >
                <mat-button-toggle class="variant" *ngFor="let type of metric; let i = index" [value]="i">
                    <span>{{type}}</span>
                </mat-button-toggle>
                
            </mat-button-toggle-group>
        </p>
    </div>

    <button mat-button color="primary" (click)="send()">Підтвердити</button>
</div>