input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}


.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;

    .close-button {
        position: absolute;
        right: 30px;
        display: none;
    }

    .field {
        width: 100%;

        &.alt-count {

            ::ng-deep .mat-form-field-underline {
                width: 50px;
            }

            input {
                width: 50px;
            }
        }
    }

    ::ng-deep .metrics-select {
        display: flex;
        flex-direction: column;
        width: 100%;

        .mat-button-toggle-group {
            display: flex;
            flex-direction: column;

            .mat-button-toggle {
                border: none;

                .mat-button-toggle-label-content {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    min-height: 50px;

                    span {
                        flex: 1;
                        max-width: 100px;
                        line-height: 24px;
                        white-space: initial;
                        padding: 0 5px;
                    }
                }

                &:not(:last-child) {
                    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
                }
            }
        }

        .mat-button-toggle-label-content {
            display: flex;
        }
    }
}

.alternatives {
    .inputs {
        display: flex;
        flex-wrap: wrap;

        .field {
            flex: 1 0 40%;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 764px) {
    .form {
        width: unset;
    }
}

@media screen and (max-width: 550px) {
    .form {
        left: 0;
        width: 100vw;
        position: absolute;
        height: 100vh;
        background: white;
        top: 0;
        padding: 20px;

        .close-button {
            display: block;
        }
    }
}

@media screen and (max-width: 410px) {
    .form {
        ::ng-deep .metrics-select .mat-button-toggle-group .mat-button-toggle .mat-button-toggle-label-content span {
            font-size: 12px;
        }
    } 
}

@media screen and (max-width: 330px) {
    .form {
        ::ng-deep .metrics-select .mat-button-toggle-group .mat-button-toggle .mat-button-toggle-label-content span {
            font-size: 10px;
        }
    } 
}
