<div class="wrapper">
    <h1 class="title">
        КОМП'ЮТЕРНА СИСТЕМА
        КОЛЕКТИВНОЇ ЕКСПЕРТИЗИ      
    </h1>

    <div class="toolbar">
        <button
            mat-raised-button
            (click)="create()"
            class="first"
        >
            Почати нове опитування
        </button>

        <button
            mat-raised-button
            (click)="connect()"
            class="second"
        >
            Приєднатись до опитування
        </button>

    </div>
</div>