<div class="wrapper">
    <h1 class="title">
        Онлайн опитування     
    </h1>
    

    <div class="toolbar">
        <button
            mat-raised-button
            (click)="create()"
            class="first"
        >
        <!-- [disabled]="disabled" -->
            Почати нове опитування
        </button>

        <button
            mat-raised-button
            (click)="connect()"
            class="second"
        >
            Приєднатись до опитування
        </button>

    </div>
</div>