.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(124,65,123);
    background-color: linear-gradient(35deg, rgba(124,65,123,1) 0%, rgba(80,78,118,1) 72%);
    height: calc(100vh - 64px - 64px);

    .title {
        font-weight: 700;
        font-size: 3rem;
        color: white;
        text-align: center;
    }

    .toolbar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 480px;

        button:not(:last-child) {
            margin-right: 1rem;
        }

        button {
            border-radius: 2rem;
            width: 100%;
            &.first {
                background: #ff7c20;
                color: white;
            }
            &.second {
                background: #15ae8a;
                color: white;
            }

            &:disabled {
                background: #ff7d2080;
            }
        }
    }
}


@media screen and (max-width: 599px) {
    .wrapper {
        height: calc(100vh - 56px - 56px);

        .title {
            font-size: 2rem;
        }

        .toolbar {
            flex-direction: column;
            width: 275px;
    
            button {
                margin-right: 0 !important;
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .toolbar {
        flex-direction: column;

        button {
            margin-right: 0 !important;
            margin-bottom: 1rem;
        }
    }
}