<div class="wrapper" [class]="markType">
    <button mat-raised-button class="new" (click)="newExpert()">Новий експерт</button>

    <div class="results" *ngIf="votes.length">
        <h2>РЕЗУЛЬТАТИ КОЛЕКТИВНОЇ ЕКСПЕРТИЗИ {{ name }}</h2>
        
        
        <div class="res-1">
            <div class="head">
                <span class="empty"></span>
                <span class="alt" *ngFor="let alt of alternatives"> {{alt}} </span>
            </div>
            <div class="vote" *ngFor="let vote of votes">  
                <span class="name">{{vote.name}}</span>
                <span class="mark" *ngFor="let mark of vote.votes" [attr.mark]="mark"></span>
            </div>
            
        </div>
    </div>
</div>