.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

    button.new {
        background: #ffbb40;
        color: white;
        margin-top: 32px;
    }

    .results {
        width: 100%;
        padding: 0 10px;
    }

    h2 {
        .name {
            text-transform: uppercase;
            color: #10599f;
        }
    }

    .info {
        color: #10599f;
    }

    .res-1 {
        .head {
            display: flex;
            justify-content: center;
            & > * {
                font-style: italic;
                width: calc(100vw / 12);
                max-width: 110px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 5px;
            }
        }
        .vote {
            justify-content: center;
            display: flex;
            margin-bottom: 5px;
            & > * {
                width: calc(100vw / 12);
                max-width: 110px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-right: 5px;
            }

        }
    }

    .res-2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .alt {
            margin-bottom: 10px;
        }

        .title {
            font-style: italic;
        }
        .line {
            display: flex;
            align-items: center;
            user-select: none;
            .total {
                margin-left: 15px;
            }
        }
        .bar {
            width: 500px;
            height: 50px;
            display: flex;

            .mark {
                min-width: 0px;
                border-radius: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                p {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        .res-1 {
            .head {
                .empty {
                    min-width: calc(100vw / 10);
                    width: 80px;
                }
                & > * {
                    width: calc(100vw / 15);
                }
            }
            .vote {
                .name {
                    min-width: calc(100vw / 10);
                    width: 80px;
                }
                & > * {
                    width: calc(100vw / 15);
                }
            }
        }
    }
}
@media screen and (max-width: 550px) {
    .wrapper {
        .res-1 {
            .head {
                & > * {
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    letter-spacing: -5px;
                    max-height: 100px;
                }
            }
        }

        .res-2 {
            .alt {
                width: 100%;
                .bar {
                    width: 100%;
                }
            }
            
        }
    }
}
.wrapper {
    &.centered {
        .mark {
            border-radius: 5px;
            &[mark="0"] {
                background: #ff0000;
            }
            &[mark="1"] {
                background: #ffb9b9;
            }
            &[mark="2"] {
                background: #ffff00;
            }
            &[mark="3"] {
                background: #b6df89;
            }
            &[mark="4"] {
                background: #00b050;
            }
        }
    }

    &.ladder {
        .mark {
            border-radius: 5px;
            &[mark="0"] {
                background: #e7f0f9;
            }
            &[mark="1"] {
                background: #bfd6ef;
            }
            &[mark="2"] {
                background: #80adde;
            }
            &[mark="3"] {
                background: #3175bf;
                color: white;
            }
            &[mark="4"] {
                background: #25578f;
                color: white;
            }
        }
    }
}

#link {
    background: none;
    outline: none;
    border: none;
    width: 50%;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

